body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .container {
  background-color: lightblue;
} */

.flexitems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.recipe{
  margin: 1em;
}

.recipe_item{
  margin: 1em;
  padding: 1em;
  border: 2px;
  width: 300px;
  overflow: auto;
  border-radius: 10%;
  color: yellow; 
  font-weight: 700;
  -webkit-box-shadow: 2px 2px 3px 4px rgb(110, 108, 108);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 4px rgb(110, 108, 108);  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 4px rgb(110, 108, 108);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.home,.about > h1,h2,h3,h4{
  text-align: center;
}

.food{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main{
  margin: 0 0 60px 0;
  
}

footer{
  margin-top: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: navy;
  color: white;
  text-align: center;
}


.nav_links{
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style: none;
}

/* input[type="text"], textarea {

  background-color : blue; 

} */

label{
  color: yellow; 
  font-weight: 700;
}

.recipe_con{
  padding: 0 30px 40px 30px;
  
}


.main_comp{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  margin-bottom: -50px;
}
